# Ignore everything
*

# But not these files...
!.gitignore
!.rbl-dockercontainer/
!.rbl-dockercontainer/**
!configuration.php


!components/
components/*
!components/com_roadbikelife/
components/com_roadbikelife/*
!components/com_roadbikelife/**

!components/com_upcycling/
components/com_upcycling/*
!components/com_upcycling/**


!media/
media/*
!media/com_roadbikelife
!media/com_upcycling
!media/com_roadbikelife/*
!media/com_roadbikelife/**

!media/com_upcycling/*
!media/com_upcycling/**



!administrator/
administrator/*
!administrator/components/
administrator/components/*

!administrator/templates/
administrator/templates/*
!administrator/templates/custom_backend/
administrator/templates/custom_backend/*
!administrator/templates/custom_backend/**

!administrator/components/com_roadbikelife/
administrator/components/com_roadbikelife/*
!administrator/components/com_roadbikelife/**
administrator/components/com_roadbikelife/node_modules/

!administrator/components/com_upcycling/
administrator/components/com_upcycling/*
!administrator/components/com_upcycling/**
administrator/components/com_upcycling/node_modules/

!templates/
templates/*
!templates/custom/
templates/custom/*
!templates/custom/**
templates/custom/node_modules/

!modules/
modules/*

!modules/mod_article_strava_stats/
!modules/mod_article_strava_stats/**

!modules/mod_article_fwgallery/
!modules/mod_article_fwgallery/**

!modules/mod_commentrelaodcaptcha/
!modules/mod_commentrelaodcaptcha/**

!modules/mod_like_button/
!modules/mod_like_button/**

!modules/mod_personal_strava_stats/
!modules/mod_personal_strava_stats/**

!modules/mod_personal_strava_stats_year/
!modules/mod_personal_strava_stats_year/**

!modules/mod_tags_rbl_similar/
!modules/mod_tags_rbl_similar/**

!modules/mod_about_me/
!modules/mod_about_me/**

!modules/mod_instagallery/
!modules/mod_instagallery/**

!modules/mod_heroarea/
!modules/mod_heroarea/**

!modules/mod_articlebloginfos/
!modules/mod_articlebloginfos/**

!modules/mod_articlebloginfos/
!modules/mod_articlebloginfos/**

!modules/mod_bottom_bar/
!modules/mod_bottom_bar/**

!plugins/
plugins/*
!plugins/content/
plugins/content/*
!plugins/content/contentmedia/
!plugins/content/contentmedia/**


!plugins/system/
plugins/system/*
!plugins/system/ogimage


!plugins/fields/
plugins/fields/*
!plugins/fields/stravaactivity/
!plugins/fields/stravaactivity/**