.hero-area-blog {
  width: 100%;
  padding: 0 !important;
  position: relative;
  background-color: $black;
  height: auto;

  .btn-likes-and-comments {
    margin-bottom: $spacer3;
    pointer-events: all;
  }

  h1 {
    margin-bottom: $spacer5;
    pointer-events: none;
  }

  picture {
    display: block;
    position: relative;
    min-height: calc(90vh - 4rem);

    @include media-breakpoint-up(md) {
      max-height: 100vh;
      min-height: 100vh;
    }

    body:not(.com_content) &,
    body.no-layout &
    {
      min-height: 40vh;
      max-height: 40vh;
    }

    img.bg-image {
      object-fit: cover;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 0;
      top: 0;
      left: 0;
      image-rendering: optimizeQuality;
      @include loadingGradient;
    }
  }


  @include media-breakpoint-down(md) {
    height: auto;
  }

  &.default-image {

    picture:before {
      padding-top: 40vh;
    }

    @include media-breakpoint-down(sm) {


    }

  }


  .post-img-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $white;
    padding: $spacer3;
    height: 100%;
    padding: 0;
    @include gradient-y(rgba($layout-darkblue, 0),rgba($layout-darkblue, 1), 35%,100%);
    pointer-events: none;
    display: flex;


    &:before {
      font-family: 'Font Awesome 5 Pro';
      position: absolute;
      right: $spacer3;
      bottom: $spacer3;
      display: block;
      content: fa-content($fa-var-angle-double-down);
      animation: downSwing infinite ease forwards;
      animation-duration: 5s;
      z-index: 3;
      font-weight: 100;
      font-size: 1.5rem;
      pointer-events: none;
      animation-delay: 3s;
    }

    @include media-breakpoint-up(md) {
      padding-right: 0;
      align-items: flex-end;
      padding-left: $spacer4;
    }

    @include media-breakpoint-up(xl) {
      padding-left: $spacer5 *1.5;

    }

    @include media-breakpoint-down(sm) {
      padding: $spacer3;
      padding-bottom: 0;
      z-index: 2;
    }


    .item-image {

      @include media-breakpoint-up(lg) {
        max-width: 125px;
      }

    }


  }

  .tags {
    justify-content: center;
  }


}

.item-page {
  background-color: $layout-darkblue;

  p a {
    color: $white;
    font-weight: $font-weight-bold;
    text-decoration: underline;

    @include media-breakpoint-down(sm) {
      word-break: break-all;
    }
  }

  h2,h3,h4,h5,h6,
  .h2,.h3,.h4,.h5,.h6 {
    margin-top: $spacer4;
  }

  .img-thumbnail {
    background-color: transparent;
    padding: 0;

    img {
      border-radius: $border-radius;
      box-shadow: $box-shadow-sm, $box-shadow, $box-shadow, $box-shadow-lg;
      background-color: $white;
    }
  }


  .articleCol {
    padding: $spacer4 $spacer3;
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: 200;

    @include media-breakpoint-up(md) {
      padding: $spacer4;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.15rem;
      padding: $spacer3 $spacer5 $spacer5 $spacer5 *1.5;
    }

    @include media-breakpoint-up(md) {
      //padding: $spacer3 $spacer5 $spacer5 $spacer5 *1.5;
    }

    &:not(.hasSidebar) {
      @include make-container-max-widths();
    }



  }

  aside {
    @include media-breakpoint-down(md) {
      background-color: $layout-darkblue-darker-2;
    }



    @include media-breakpoint-up(xl) {
      padding: $spacer5;
    }

    &:before {
      position: absolute;
      opacity: 0;
      background-image: url('../img/animated_loader.svg');
      background-position: center 10rem;
      background-repeat: no-repeat;
      background-size: 9rem;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      z-index: 999;
      pointer-events: none;

      @include media-breakpoint-down(sm) {
        position: fixed;
      }
    }

    &.loading {
      &:before {
        opacity: 1;
        pointer-events: initial;

      }
    }

    .small {
      @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
      }
    }

    .mapWrapper {
      margin-bottom: $spacer4;
      overflow: visible;

      .googleMap {
        border-radius: $border-radius-xlg;
        overflow: hidden;
        border: 1px solid $layout-darkblue-darker-2;
      }
    }

    .wheatherWidget {
      box-shadow: $box-shadow-sm, $box-shadow;


      .wind {
        left: auto;
        //right: 0;
        transform: translateX(-35%);
        z-index: 3;
      }
    }

    .navGraphs {
      margin-top: $spacer3;
      border-radius: $border-radius-lg;
    }


  }


  &.stravaActivityPost {
    aside .galleryImagesModule {
      display: none;
    }
  }



  .tags {
    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }


  }


}

.articleInfoLinks {
  border-top: $spacer1 solid $layout-darkblue-darker-1;

  .item {
    padding: $spacer2;
    text-decoration: none;
    font-size: 0.9em;


    > a, > .itemInner {
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
    }

    i {
      font-size: 2rem;
      margin-right: $spacer2;
    }

    a.itemInner {
      @include hover-focus-active {
        color: $white;
        text-decoration: none;

        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.controls-ridewheather {
  border-bottom: 1px solid $layout-darkblue-darker-1;
}

.strava-activity-changer {
  margin-bottom: $spacer4;

  .title {
    flex-grow: 1;
  }

  .activities {

    a.changeMap,
    .summary {
      color: $white;
      display: flex;
      transition: $transition-base;
      font-size: $font-size-sm;
      align-items: center;
      padding: $spacer2;
      position: relative;


      @include media-breakpoint-down(sm) {
        flex-direction: column;


        .title {
          width: 100%;
          margin-bottom: $spacer1;
        }
      }

      .badges {
        display: flex;
        justify-content: flex-end;
        border: 0;
        flex-wrap: wrap;

        @include media-breakpoint-down(sm) {
          width: 100%;
          justify-content: flex-start;
        }

      }

      .badge {
        margin-right: $spacer1;
        font-weight: $font-weight-normal;
        background-color: rgba($white, .1) !important;
        color: rgba($white, .65);
        margin-top: $spacer1/2;
        margin-bottom: $spacer1/2;

        i {
          margin-right: .1em;
        }

        @include media-breakpoint-down(sm) {
          font-size: 0.8em;


          .badge-watts {
            order: 6
          }
        }
      }
    }

    .summary {
      padding-left: 2rem;
      border-top: 2px solid $layout-darkblue-darker-1;
      padding-top: $spacer3;
      padding-bottom: $spacer3;
      justify-content: flex-end;

      @include media-breakpoint-down(sm) {
        justify-content: flex-start;
        padding-left: $spacer2;
      }

    }

    a.changeMap {
      $checkIconWidth: 1.5rem;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: $checkIconWidth + .7rem;
      border-radius: $border-radius-lg;
      margin-bottom: $spacer2;

      @include media-breakpoint-down(sm) {
        padding-left: $spacer2;
      }

      .title {
        display: flex;
        align-items: center;

        @media (max-width: 1500px) {
          //width: 100%;
          flex-grow: 1;
          padding-bottom: $spacer1;
        }

        .date {
          font-size: $font-size-xsm;
          min-width: 30%;
          margin-left: auto;
          padding: 0 $spacer2;
          text-align: right;
          color: $text-muted;
          white-space: nowrap;
        }
      }

      .fa-check {
        opacity: 0;
        position: absolute;
        left: .7rem;
        width: 1.5rem;
        line-height: 1.75em;

        @include media-breakpoint-down(sm) {
          left: auto;
          right: 0;
          bottom: $spacer2;
        }
      }

      &.disabled {
        cursor: default;
        background: $red;
        box-shadow: $box-shadow-sm, $box-shadow;
        cursor: default;

        @include hover {
          background: $red;
        }

        .date {
          color: $white;
        }

        i.fa-check {
          opacity: 1;
        }

        .badge {
          background: rgba($dark, .2) !important;
          color: $white !important;
        }
      }

      @include hover {
        text-decoration: none;

        @include media-breakpoint-up(md) {
          background-color: $layout-darkblue-lighter-1;
        }
      }


    }


  }
}

.postInfos-strava-inner {
  justify-content: center;
}

.postInfos-strava {
  position: relative;

  .item {
    text-align: center;
    height: 100%;
    line-height: $headings-line-height;
    padding-bottom: $spacer3;
    @include make-col(6);


    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }

    @include media-breakpoint-up(xl) {
      @include make-col(3);
    }

    @media (min-width: 1400px) {
      width: 20%;
      max-width: 20%;
    }


    .itemInner {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      .small {
        padding-top: $spacer1;
        color: rgba($white, .5);
      }

    }

    > a, > .itemInner {
      flex-direction: column;
      justify-content: center;
      padding: $spacer2;

      i {
        margin-bottom: $spacer2;
        color: $primary;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.social-sharing {
  a {
    cursor: pointer;
  }
}


.item-page .pagenav {
  margin: 0;
  margin-top: $spacer5;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: $spacer2 0;
  border-top: 1px solid $gray-200;


  li {

    list-style: none;
    height: 100%;
    display: flex;

    a {
      color: $body-color;
      display: flex;
      align-items: center;
      padding: $spacer2;
      font-size: $font-size-sm;
      height: 100%;

      @include hover-focus-active {
        text-decoration: none;
      }
    }

    i.fa-2x {
      font-size: 3.5rem;
      transition: $transition-base;
    }


    &.previous {
      @include hover-focus-active {
        i {
          transform: translate(-0.5rem, 0);
        }
      }

    }

    &.next {
      align-self: flex-end;
      margin-left: auto;

      @include hover-focus-active {
        i {
          transform: translate(.5rem, 0);
        }
      }

    }

  }
}

.mobilePageNav .pagenav {
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: 2px solid $layout-darkblue-darker-1;
}

.galleria-theme-compojoom {
  width: 100% !important;
}

.galleria-container.touch {
  height: 100% !important;

}