.item-page {
  //border-top: 3px solid $layout-darkblue;
  //background-color: lighten($layout-darkblue-lighter-2,70%);

  //@include media-breakpoint-down(sm) {
  //  background-color: $layout-darkblue;
  //  color:$text-white
  //}


  .articleCol {

    @include media-breakpoint-down(sm) {
      //font-size: $font-size-base * 0.96
    }

    //h2,
    //h3,
    //h4,
    //h5,
    //h6 {
    //  font-size: $h5-font-size;
    //  font-weight: $font-weight-bold;
    //}
  }

  .rules {
    list-style: none;
    padding-left: 0;
    counter-reset: rules;
    padding-top: $spacer3;

    .rule {
      background-color: $light;
      margin-bottom: $spacer4;
      border-radius: $border-radius;
      overflow: hidden;

      .ruleTitle {
        font-weight: $font-weight-bold;
        background-color: darken($light,5%);
        display: flex;
        counter-increment: rules;

        &:before {
          content: counter(rules) ".";
          min-width: 2rem;
          min-height: 100%;
          border-right: 1px solid rgba($black,.05);
          padding: $spacer1;
          display: block;
          text-align: center;
        }
      }

      .name {
        padding: $spacer1 $spacer2;
      }
    }

    .ruleContent {
      padding: $spacer3;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }



  .articleCol {
    padding: $spacer3;


    &:not(.hasSidebar) {
      width: 100%;
      max-width: 1100px;
      margin-left:auto ;
      margin-right: auto;

    }

    @include media-breakpoint-up(md) {
      padding:$spacer5;

      &.hasSidebar {

      }
    }


  }

  aside {
    //border-left:3px solid $layout-darkblue-darker-1;
    background-color: $layout-darkblue;
    color: $white;
    padding: 0;

    &:before {
      position: absolute;
      background-color: rgba($layout-darkblue,.9);
      opacity: 0;
      background-image: url('../img/animated_loader.svg');
      background-position: center 10rem;
      background-repeat: no-repeat;
      background-size: 9rem;
      top: 0;
      left: 0;
      content:"";
      display: block;
      width: 100%;
      height: 100%;
      z-index: 999;
      pointer-events: none;

      @include media-breakpoint-down(sm) {
        position: fixed;
      }
    }

    &.loading {
      &:before {
        opacity: 1;
        pointer-events: initial;

      }
    }

    .small {
      @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
      }
    }
  }


  &.stravaActivityPost {
    aside .galleryImagesModule {
      display: none;
    }
  }

  .tags,
  .btnLike {
    //transform: translateY(-50%);
  }

  .tags {
    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }


  }


}

.articleInfoLinks {
  border-top: $spacer1 solid $layout-darkblue-darker-1;

  .item {
    padding: $spacer2;
    text-decoration: none;
    font-size: 0.9em;


    > a, > .itemInner {
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
    }

    i {
      font-size: 2rem;
      margin-right: $spacer2;
    }

    a.itemInner {
      @include hover-focus-active {
        color: $white;
        text-decoration: none;

        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.controls-ridewheather {
  border-bottom: 1px solid $layout-darkblue-darker-1;
}

.strava-activity-changer {

  background-color: $layout-darkblue-darker-1;

  .title {
    flex-grow: 1;
  }

  .activities {

    a.changeMap,
    .summary {
      color: $white;
      display: flex;
      padding: $spacer1;
      transition: $transition-base;
      font-size: $font-size-sm;
      align-items: center;
      padding:  $spacer2;
      position: relative;

      @include media-breakpoint-down(sm) {
        flex-direction: column;

        &:not(:first-child) {
          border-top: 1px solid $layout-darkblue;
        }

        .title {
          width: 100%;
          margin-bottom: $spacer1;
        }
      }

      .badges {
        display: flex;
        justify-content: flex-end;
        border:0;
        flex-wrap: wrap;

        @include media-breakpoint-down(sm) {
          width: 100%;
          justify-content: flex-start;
        }

      }

      .badge {
        margin-right: $spacer1;
        font-weight: $font-weight-normal;
        background-color: rgba($white,.1) !important;
        color:rgba($white,.65);
        margin-top: $spacer1/2;
        margin-bottom: $spacer1/2;

        i {
          margin-right: .1em;
        }

        @include media-breakpoint-down(sm) {
          font-size:0.8em;


          .badge-watts {
            order: 6
          }
        }
      }
    }

    a.changeMap {
      $checkIconWidth: 1.5rem;

      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: $checkIconWidth + .7rem;

      @include media-breakpoint-down(sm) {
        padding-left: $spacer2;
      }

      .title {
        display: flex;
        align-items: center;

        @media (max-width: 1500px) {
          //width: 100%;
          flex-grow: 1;
          padding-bottom: $spacer1;
        }

        .date {
          font-size: $font-size-xsm;
          min-width: 30%;
          margin-left: auto;
          padding: 0 $spacer2;
          text-align: right;
          color: $text-muted;
          white-space: nowrap;
        }
      }

      .fa-check {
        opacity: 0;
        position: absolute;
        left: .7rem;
        width: 1.5rem;
        line-height: 1.75em;

        @include media-breakpoint-down(sm) {
          left: auto;
          right: 0;
          bottom: $spacer2;
        }
      }

      &.disabled {
        cursor: default;

        i.fa-check {
          opacity: 1;
        }
      }

      @include hover {
        text-decoration: none;

        @include media-breakpoint-up(md) {
          background-color: $layout-darkblue;
        }
      }


    }

    .summary {
      padding-left:2rem;
      border-top:2px solid lighten($layout-darkblue-lighter-2,0%) !important;
      padding-top: $spacer2;
      padding-bottom: $spacer2;
      justify-content: flex-end;

      @include media-breakpoint-down(sm) {
        justify-content: flex-start;
        padding-left: $spacer2;
      }

    }

  }
}

.postInfos-strava {
  //@include media-breakpoint-up(md) {
  //  border-bottom: 1px solid $border-color;
  //}

  position: relative;

  .item {
    text-align: center;
    height: 100%;
    line-height: $headings-line-height;
    padding-bottom: $spacer3;

    @include media-breakpoint-down(sm) {
      @include make-col(6);
    }

    @include media-breakpoint-only(md) {
      @include make-col(3);
    }

    @include media-breakpoint-only(lg) {
      @include make-col(3);
    }


    @include media-breakpoint-only(xl) {
      width: 20%;
      max-width: 20%;
    }


    .itemInner {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      .small {
        padding-top: $spacer1;
        color: rgba($white, .5);
      }

    }

    > a, > .itemInner {
      flex-direction: column;
      justify-content: center;
      padding: $spacer2;

      i {
        margin-bottom: $spacer2;
        color: $primary;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}



.social-sharing {
  a {
    cursor: pointer;
  }
}


.item-page .pagenav {
  margin: 0;
  margin-top: $spacer5;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: $spacer2 0;
  border-top: 1px solid $gray-200;


  li {

    list-style: none;
    height: 100%;
    display: flex;

    a {
      color: $body-color;
      display: flex;
      align-items: center;
      padding: $spacer2;
      font-size: $font-size-sm;
      height: 100%;

      @include hover-focus-active {
        text-decoration: none;
      }
    }

    i.fa-2x {
      font-size: 3.5rem;
      transition: $transition-base;
    }


    &.previous {
      @include hover-focus-active {
        i {
          transform: translate(-0.5rem, 0);
        }
      }

    }

    &.next {
      align-self: flex-end;
      margin-left: auto;

      @include hover-focus-active {
        i {
          transform: translate(.5rem, 0);
        }
      }

    }

  }
}

.mobilePageNav .pagenav {
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: 2px solid $layout-darkblue-darker-1;
}

.galleria-theme-compojoom {
  width:100% !important;
}

.galleria-container.touch {
  height:100% !important;

}