$to-top-size: 35px;

.back-to-top {
  padding: 0;
  text-align: center;
  z-index: $zindex-modal - 2;
  position: fixed;
  width: $to-top-size;
  height: $to-top-size;
  border-radius: $to-top-size;
  bottom: $mobileBarNavHeightLg + 1rem;
  right: 20px;
  line-height: $to-top-size * 0.9;
  font-size: $to-top-size * 0.6;
  opacity: 1;
  //transition: all 250ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  border-width: 0;
  background-color: $white;
  transition: $transition-base;
  display: none;

  @include media-breakpoint-down(sm) {
    display: none !important;
  }

  .opened & {
    z-index: 1;
    opacity: 0;
  }
}