.mobileBottomBar {
  position: fixed;
  left: 0;
  bottom: unquote('env(safe-area-inset-bottom)');
  width: 100vw;
  background-color: rgba($layout-darkblue,.9);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  z-index: 999999;
  color: $white;

  @include media-breakpoint-up(lg) {
    left:0;
    transform: translateX(-100%);
    top:0;
    bottom:0;
    display: flex;
    //flex-direction: row-reverse;
    height: 100vh;
    width: 30vw;
    max-width: 30rem;
    transition: transform .25s ease-in-out;

    &.expand {
      transform: translateX(0);
      box-shadow: 2rem 0 1.35rem 1rem rgba(0, 0, 0, .7);

    }
  }


  &:after {
    display: block;
    position: absolute;
    bottom: -100px;
    height: 100px;
    width: 100vw;
    left: 0;
    content: "";
    background-color: darken($layout-darkblue, 5);
    pointer-events: none;
  }



  .nav {
    background-color: $layout-darkblue-darker-2;
    position: absolute;
    width: 100%;
    left: 0;
    height: $mobileBarNavHeightSm;
    top: $mobileBarNavHeightSm * -1;
    padding: 0;
    display: flex;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      bottom: 0;
      top:0;
      left: auto;
      right: 0;
      height: 100%;
      width: auto;
      transform: translateX(100%);
    }


    .mobileBottomBarToggle {
      opacity: 0.1;
      transition: $transition-base;
      pointer-events: none;
    }

    .nav-item, .btnLike {
      color: $white;
      padding: 0 $spacer3;
      display: block;
      text-align: center;
      align-items: center;
      position: relative;
      height: 100%;
      font-size: $font-size-lg;
      cursor: pointer;
      border-right: 1px solid darken($layout-darkblue-darker-2, 5%);
      display: flex;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        padding: 0 $spacer1;
        flex-grow: 1;
      }

      @include media-breakpoint-up(lg) {
        width: 3rem;
        height: 3rem;
        flex-grow: 0;
        border-right: 0;
        border-bottom: 1px solid darken($layout-darkblue-darker-2, 5%);

      }

      text-decoration: none;

      @include media-breakpoint-up(xl) {
        &:hover {
          background-color: rgba($black, 0.2);
        }
      }

      &.mobileBottomBarToggle {
        margin-left: auto;
        border-right: 0;
        color: $white;

        //border-left: ;
      }

      &.btnccomment {
        //border-right-width: 2px;
      }


    }

    .nav-item-about {
      background-color: $red;
      padding: $spacer2;
    }

    .btnLike {
      box-shadow: none;
      color: $primary;

      span {
        display: none;
      }

      i {
        margin: 0;
        color: $primary;
      }
    }


  }

  .tab-content {
    flex-grow: 1;
    transition: $transition-base;
  }

  .tab-pane {
    padding: $spacer3;
    height: 100%;
    @include cssScrollbar($primary, $dark, $spacer2, 0);
  }

  &.expand {

    .nav-item {

      &.active {
        background-color: $primary;
        color: $white;
      }

    }

    .tab-content {
      height: 40vh;

      @include media-breakpoint-up(md) {
        height: 20vh;
      }

    }

    .mobileBottomBarToggle {
      opacity: 1;
      pointer-events: all;
      color: $primary !important;

      @include hover-focus-active {
        color: $primary;
      }
    }
  }
}

