.mobileBottomBarBackdrop {
  pointer-events: none;

  &.show {
    pointer-events: all;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.mobileBottomBar {
  position: fixed;
  left: 0;
  bottom: unquote('env(safe-area-inset-bottom)');
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: $zindex-modal;
  color: $white;
  height: 0;
  transition: $transition-base;
  background-color: rgba($layout-darkblue-darker-2, .6);

  @include media-breakpoint-down(md) {
    background-color: rgba($layout-darkblue-darker-3, .9);
  }


  @include media-breakpoint-up(lg) {
    left: 0;
    transform: translateX(-100%);
    top: 0;
    bottom: 0;
    display: flex;
    height: 100vh;
    width: 30vw;
    max-width: 30rem;
    transition: transform .25s ease-in-out;

    &.expand {
      transform: translateX(0);
      box-shadow: $box-shadow,$box-shadow-lg;
    }
  }


  .nav {
    background-color: $layout-darkblue-darker-2;
    position: absolute;
    width: 100%;
    left: 0;
    height: $mobileBarNavHeightSm;
    top: $mobileBarNavHeightSm * -1;
    padding: 0;
    display: flex;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      bottom: 0;
      top: 0;
      left: auto;
      right: 0;
      height: 100%;
      width: auto;
      transform: translateX(100%);
    }


    .nav-item, .btnLike {
      color: $white;
      padding: 0 $spacer3;
      text-align: center;
      align-items: center;
      position: relative;
      height: 100%;
      font-size: $font-size-lg;
      cursor: pointer;
      border-right: 1px solid darken($layout-darkblue-darker-2, 5%);
      display: flex;
      justify-content: center;
      text-decoration: none;

      @include media-breakpoint-down(sm) {
        padding: $spacer1;
        flex-grow: 1;
        font-size: $font-size-sm;
        max-width: none;
      }

      @include media-breakpoint-up(lg) {
        width: $mobileBarNavHeightSm;
        height: $mobileBarNavHeightSm;
        flex-grow: 0;
        border-right: 0;
        border-bottom: 1px solid darken($layout-darkblue-darker-2, 5%);
      }


      @include media-breakpoint-up(xl) {
        &:hover {
          background-color: rgba($black, 0.2);
        }
      }

      &.active {
        background-color: $primary;
        color: $white;
      }


    }

    .mobileBottomBarToggle {
      pointer-events: all;
      margin-left: auto;
      border-right: 0;
      opacity: .2;

      @include media-breakpoint-up(lg) {
        margin-top: auto;
      }

      @include hover-focus-active {
        color: $primary;
      }
    }

    .nav-item-about {
      background-color: $red;
      padding: $spacer2;
      display: flex;

      svg {
        flex-grow: 1;
        max-width: 85%;
        max-height: 85%;

        @include media-breakpoint-down(md) {
          max-width: 70%;
          max-height: 70%;
        }
      }

      @include media-breakpoint-down(md) {
        background-color: transparent;
      }
    }

    .btnLike {
      box-shadow: none;
      color: $primary;

      span {
        display: none;
      }

      i {
        margin: 0;
        color: $primary;
      }
    }


  }

  .tab-content {
    flex-grow: 1;
    transition: $transition-base;
    height: 100%;


  }

  .tab-pane {
    padding: $spacer3;
    height: 100%;
    @include cssScrollbar($gray-600, $dark, $spacer2, 0);

    @include media-breakpoint-up(xl) {
      padding: $spacer4;
    }
  }

  &.expand {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);

    .nav-item-about {
      background-color: transparent;
    }

    @include media-breakpoint-down(md) {
      height: calc(100% - 3rem);
    }

    .mobileBottomBarToggle {
      opacity: 1;
    }


  }
}

