

.sectionShadowInset {
  box-shadow: 0 32px 45px -30px rgba(0, 0, 0, 0.85) inset;
}

.module {
  margin-bottom: $spacer5;
}

iframe, .avPlayerWrapper {
  width: 100%;
}

.tab-content {


  > .show {
    display: block !important;
  }
}


.article-modules {
  overflow-x:hidden;

  .post .item-image {
    width:60px;
  }

  .moduleBoostrap {
    .heading {
      font-size: $font-size-base;
      padding:$spacer2 $spacer3;
      margin-top: -$spacer2;
      font-weight: $font-weight-base;
      border-bottom: 1px solid $border-color;
      color: lighten($layout-darkblue, 60%);
      text-align: center;
      margin-bottom: $spacer3;
    }

  }

  @include media-breakpoint-down(sm) {
    //padding: $spacer5 0;
  }

  .personalStravaStats-year,
  .personalStravaStats {
    .item {
      @include make-col(6);
    }
  }


}

.module-wrapper-dark-rounded {
  //border:1px solid $border-color;
  padding: $spacer3;
  background-color: rgba($black,.3);
  border-radius: $btn-border-radius-lg;
  margin-bottom: $spacer3;

  .module-wrapper-dark-rounded-title {

  }
}
