/************** FOOTER ***************/


footer {
  //border-top: 3px solid $primary;
  background-color: $layout-darkblue-darker-3;
  width: 100%;
  position: relative;
  color: $white;
  font-size: $font-size-small;
  padding: $spacer3 $spacer4 ;
  padding-bottom: $mobileBarNavHeightSm;

  @include media-breakpoint-up(lg) {
    padding: $spacer3 $spacer4 ;
  }


  a {
    color: inherit;
  }


  .heading {
    margin-bottom: $spacer4;
  }

  .module {
    margin-bottom: 0;
  }


  .menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;


    li {
      margin-right: $spacer3;
      list-style: none;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 0;
      }

      a {
        font-size: $font-size-small;
        white-space: nowrap;
        display: block;
        text-align: center;
        padding: $spacer2;
        @include media-breakpoint-down(sm) {
          padding: $spacer1 $spacer2;
        }

        &:hover {
          text-decoration: none;
        }

      }

      .post {
        margin-bottom: $spacer3;
      }

      .postLinkItem {
        padding: 0;
        margin: 0;
      }
    }
  }

}
