header {

  .navbar {
    position: absolute;
    top:0;
    width: 100%;
    left:0;
    right:0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: end;
    padding:0;

    ul {
      display: none;
    }

  }


  .navbar-brand {
    top:0;
    right:0;
    display: flex;
    padding: $spacer2 $spacer3;
    background-color: $red;
    border-bottom-left-radius: $border-radius-xlg;
    margin: 0;
    position: absolute;

    @include media-breakpoint-up(lg) {
      position: fixed;
    }

    .logo {
      min-width: 10rem;

      @include media-breakpoint-up(md) {
        min-width: 12rem;
      }
    }
  }
}

body.itemid-101.view-category {
  header .navbar-brand {
    display: none;
  }
}

