.hero-area-frontpage {
    $gridBorderSize: $spacer2;
    $gridBorder: $gridBorderSize solid $layout-darkblue;

    background-color: $layout-darkblue;
    color: #FFF;

    .introCol {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .btnLike {
        margin-bottom: 0;
    }

    .introWrapper {
        @include media-breakpoint-up(lg) {
            min-height: 40vh;
        }
    }

    .intro,
    .tagsWrapper {
        padding: $spacer3;

        @include media-breakpoint-down(md) {
            border-bottom: $gridBorder;
        }

    }

    .intro {
        background-color: $primary;
        flex-grow: 1;

        strong {
            font-weight: $font-weight-normal;
        }
    }

    .tagsWrapper {
        @include media-breakpoint-up(lg) {
            min-height: 20rem;
        }

        .tags,
        .module {
            margin-bottom: 0;
        }
    }


    .leadingArticleWrapper {
        @include media-breakpoint-up(lg) {
            .post-image:before {
                padding-top: 0;
            }
        }
    }


    .tags .tag {
        background: none;
        border: 1px solid lighten($layout-darkblue, 30%);
        color: $white;
    }

    article {
        position: relative;
        display: flex;
        height: 100%;
        color: #FFF;
        border-bottom: $gridBorder;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            border-left: $gridBorder;
        }

        .item-image.post-image {
            width: 100%;
            height: 100%;
            background-color: $primary;

            .image-wrapper {
                border: 0;
            }

            @include media-breakpoint-down(sm) {
                @include aspect-ratio(4,3);

            }
        }

        .post-img-overlay {
            @include post-img-overlay;
            transition: $transition-base;
            transition-duration: .5s;
            pointer-events: none;
            overflow: hidden;

        }

        .headline {
            display: flex;
            align-items: flex-end;
            margin-bottom: $spacer2;
        }

        .btnLike {
            background-color: $white;
        }

        h3,h2 {
            margin-bottom: 0;
            padding-right: 1em;
        }

        .introtext {
            transition: $transition-base;
            transition-duration: .5s;
            position: absolute;
            width: 101%;
            height: 101%;
            background-color: rgba($layout-darkblue-darker-1, .9);
            transform: scale(1) translateZ(0);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: $spacer3;
            text-align: center;
            opacity: 0;
            cursor: pointer;




            .text {
                @include media-breakpoint-down(lg) {
                    display: none;
                }
                max-width: 50em;

                overflow: auto;
                min-height: $font-size-base * $line-height-base * 3.2;
                @include rblSscrollbar;
            }

            .tags {
                display: flex;
                justify-content: center;
            }
        }

        .post-image img {
            //transform: scale(1.01);
            image-rendering: optimizeQuality

        }

        &:hover {
            @include media-breakpoint-up(lg) {


                .introtext {
                    opacity: 1;
                }

                .post-img-overlay {
                    opacity: 0;
                }
            }


        }


        .tags .tag {
            background-color: rgba($layout-darkblue, .2);
            border-color: transparent;
            font-size: $font-size-sm;

            @include hover {
              background-color: $primary;

            }
        }
    }

    .rowTwo,
    .rowThree {
        div[class*="col"]:first-child article,
        div[class*="col"]:nth-child(3n+1) article {
            border-left: 0;
        }
    }


}

body.itemid-101.view-category {
    #component {
        display: none;
    }
}
